//Colors
$grey: #dddddd;
$white: white;
$brand-primary:#5b4681;
$light-grey:#f9f9f9;
$dark-grey:#777777;
//Sizes
$space:1.4rem;
$site-max-width:  50rem;

//font sizes
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: $white;

//Buttons
$button-bg: $brand-primary;
$button-color: $white;
$button-pill-color:$brand-primary;
$button-seondary-bg: $light-grey;
$button-seondary-color: $dark-grey;
$button-seondary-border-color:$grey;

//Header
$header-color:$white;
$header-background-color:$brand-primary;

//Item
$item-bg: $light-grey;
$item-border:darken($item-bg, 10%);
$item-text-color: $dark-grey;