.button{
    background-color: $button-bg;
    border: none;
    color: $button-color;
    cursor: pointer;
    font-size: $base-font-size;
    margin-bottom: $space;
    padding: $input-spacing;
    text-transform: uppercase;
}

.button--link{
    display: inline-block;
    text-decoration: none;
}
.button--pill{
   background-color: transparent;
   border: 1px solid $button-pill-color;
   color: $button-pill-color;
   padding: .3rem .8rem;
   margin: 0 ($space/2) 0 0;
   

}
.button--secondary{
    background: $button-seondary-bg;
    color: $button-seondary-color;
    border: 1px solid $button-seondary-border-color;
}
.button--link-text{
    background: none;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    text-transform: none;
}